.footer {
  height: 4rem;
  display: flex;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-sm);
  }
}
.footerLogo {
  height: 100%;
}
