/*Nav Header*/
.navbar {
    background-color: rgba(0,0,0, 0.5);
    padding: 30px;
    border-color: #008ba3;
}

.icons {
    font-size: 48px;
    color: #9a0007;
}


/*Nav Footer*/
.footer {
    background-color: rgba(0,0,0, 0.5);
    padding: 30px;
    margin: 0px auto;
}

#mail {
    color: white;
}

/* Background Image */
body {
    background: url(./shared/images/Scene.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*Picture*/
#myFace {
    height: 250px;
}

.card-img {
    height: 150px;
}

/*Resume*/
.resume{
    background-color: white;
}

.resumeLine {
    height: 1.5px;
    background-color: black;
}

.homeText {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}